<app-header title="Añadir Gasto" backButton="/main/home"></app-header>
<ion-content>
    <br>
    <br>

    <ion-title class="ion-text-center">
        MoneyMate
      </ion-title>
    
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="ion-text-center">
            <p>+ Gastos</p>
          </ion-col>
        </ion-row>
    
    
    
      </ion-grid>


    <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">
        <!--=================== Descripcion =======================-->
        <app-custom-input 
            autocomplete="descripcion" 
            icon="journal"
            [control]="form.controls.descripcion"
            type="text"
            label="Descripcion"
        ></app-custom-input>

        <div class="validators" *ngIf="form.controls.descripcion.errors && form.controls.descripcion.touched">
            <div *ngIf="form.controls.descripcion.errors?.['required']">Este campo es requerido</div>
            <div *ngIf="form.controls.descripcion.errors?.['minlength']">El campo debe tener al menos 3 caracteres</div>
        </div>

        <!--=================== Categoría =======================-->
        <ion-item>
            <ion-select formControlName="categoria" label="Categoría" interface="popover" label-placement="floating">
                <ion-select-option value="Vivienda">Vivienda</ion-select-option>
                <ion-select-option value="Alimentacion">Alimentacion</ion-select-option>
                <ion-select-option value="Servicios">Servicios</ion-select-option>
                <ion-select-option value="Transporte">Transporte</ion-select-option>
                <ion-select-option value="Otros">Otros</ion-select-option>
            </ion-select>
        </ion-item>

        <div class="validators" *ngIf="form.controls.categoria.errors && form.controls.categoria.touched">
            <div *ngIf="form.controls.categoria.errors?.['required']">Ingrese una Categoría</div>
        </div>

        <!--=================== Monto =======================-->
        <app-custom-input 
            icon="logo-usd"
            [control]="form.controls.monto"
            type="number"
            label="Monto"
        ></app-custom-input>

        <div class="validators" *ngIf="form.controls.monto.errors && form.controls.monto.touched">
            <div *ngIf="form.controls.monto.errors?.['required']">El monto es requerido</div>
            <div *ngIf="form.controls.monto.errors?.['min']">El monto debe ser mayor a 0</div>
        </div>

        <ion-button class="ion-margin" mode="md" type="submit" color="dark" routerLink="/main/home" [disabled]="form.invalid">
            Agregar Gasto
            <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-button>
    </form>
</ion-content>
