<app-header title="Inicio"></app-header>

<ion-content>
  <div>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
        <ion-fab-button (click)="addGasto()" color="dark">
          <ion-icon name="alarm-outline" ></ion-icon>
        </ion-fab-button>
      </ion-fab>
  </div>

  <br>
  <br>

  <ion-title class="ion-text-center">
    <ion-icon class="option-btn" name="cash-sharp"></ion-icon>
    MoneyMate
    <ion-icon class="option-btn" name="cash-sharp"></ion-icon>
  </ion-title>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <ion-card class="presupuesto-card">
          <ion-card-header>
            <ion-card-title style="color: rgb(255, 255, 255);">Presupuesto</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ presupuesto | currency }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <ion-icon routerLink="/main/profile" name="settings-outline" size="large"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button routerLink="gastos" expand="block" color="warning">Añadir un Gasto</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button routerLink="ingresos" expand="block" color="success">Añadir un Ingreso</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button routerLink="resumen" expand="block" color="tertiary">Resumen</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            Total de Gastos del Mes
          </ion-card-header>
          <ion-card-content>
            {{ totalGastosMes | currency:'CLP' }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content class="ion-text-center" color="success">
            <p>Meta de Ahorro</p>
            <h2>$ 50.000</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
<ion-footer >
  <ion-toolbar>
    <div>
      <ion-button (click)="signOut()" color="dark">
        <ion-icon class="option-btn" name="walk-sharp"></ion-icon>
      </ion-button>
    </div>
  
  </ion-toolbar>
</ion-footer>
