<app-header title="Resumen de Gastos Mensual" backButton="/main/home"></app-header>
<ion-content>
  <!-- Título con la suma de todos los gastos del mes actual -->
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Total de gastos del mes actual</ion-card-title>
      <ion-card-subtitle>Gastos mes anterior: {{ totalGastosMesAnterior | currency: 'CLP' }}</ion-card-subtitle>
      <ion-card-content>
        <h1>{{ totalGastosMes | currency: 'CLP' }}</h1>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
  


  <ion-card>
    <ion-card-header>
      <ion-card-title>Totales por tipo de gasto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Vivienda: {{ totalVivienda | currency: 'CLP' }}</p>
      <p>Alimentación: {{ totalAlimentacion | currency: 'CLP' }}</p>
      <p>Servicios: {{ totalServicios | currency: 'CLP' }}</p>
      <p>Transporte: {{ totalTransporte | currency: 'CLP' }}</p>
      <p>Otros: {{ totalOtros | currency: 'CLP' }}</p>
    </ion-card-content>
  </ion-card>

   

  <!-- Lista de gastos detallados -->
  <ion-list>
    <ion-item-sliding class="product-item" *ngFor="let p of resumen">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <div class="name">{{p.descripcion}}</div>
          <div class="data">
            <strong>Mes: </strong> {{ getMonth(p.fecha) }}
          </div>
          <div class="data">
            <strong>Tipo: </strong> {{p.categoria}}
          </div>
        </ion-label>
        <div slot="end" class="total-monto">
          <strong>Total: </strong> {{p.monto | currency: 'CLP'}}
        </div>
      </ion-item>

      <ion-item-options>
        <ion-item-option>
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>
  
        <ion-item-option color="danger">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
