<app-header title="Perfil" backButton="/main/home"></app-header>

<ion-content>
  
  <br>
  <br>

  <ion-title class="ion-text-center">
    MoneyMate
  </ion-title>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <p>Configuración</p>
      </ion-col>
    </ion-row>



  </ion-grid>

  <form  [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="addIngreso()" (keypress.enter)="addIngreso()">


    <app-custom-input 
            icon="logo-usd"
            [control]="form.controls.monto"
            type="number"
            label="Ingreso Fijo"
        ></app-custom-input>

        <div class="validators" *ngIf="form.controls.monto.errors && form.controls.monto.touched">
            <div *ngIf="form.controls.monto.errors?.['required']">El monto es requerido</div>
            <div *ngIf="form.controls.monto.errors?.['min']">El monto debe ser mayor a 0</div>
        </div>

        <ion-button class="ion-margin" mode="md" type="submit" color="dark" routerLink="/main/home" [disabled]="form.invalid">
            Agregar Gasto
            <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-button>


  </form>

  <form  [formGroup]="form" class="ion-padding ion-text-center">


    <app-custom-input 
            icon="cash-outline"
            [control]="form.controls.monto"
            type="number"
            label="Meta de Ahorro"
        ></app-custom-input>

        <div class="validators" *ngIf="form.controls.monto.errors && form.controls.monto.touched">
            <div *ngIf="form.controls.monto.errors?.['required']">El monto es requerido</div>
            <div *ngIf="form.controls.monto.errors?.['min']">El monto debe ser mayor a 0</div>
        </div>

        <ion-button class="ion-margin" mode="md" type="submit" color="dark" routerLink="/main/home" [disabled]="form.invalid">
            Agregar Meta de Ahorro
            <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-button>


  </form>





</ion-content>
